@{
    ViewData["Title"] = "Khách hàng";
}

<div class="qtBox2">
    <div class="qtBoxTitle">Quản lý khách hàng</div>
    <div class="qtBoxContent2">
        <form method = "post" asp-controller = "WareHouse" asp-action = "Customer" autocomplete="off">
            <div class="qtBoxNew obj01">
                <div class="qtTitle2">Thông tin khách hàng/Nhà cung cấp</div>
                    <div class="qtBoxContent2">
                        <table border=0 cellpadding=0 cellspacing=0 height="100%" width="100%">
                            <tr>
                                <td style="height:23px;width:150px;">Tên khách hàng:</td><td><input type="text" id="CusName" name ="CusName" placeholder="Nhập tên khách hàng.." autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td style="height:23px;width:150px;">Mã số thuế:</td><td><input type="text" id="TaxID" name ="TaxID" placeholder="Mã số thuế.." autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td style="height:23px;width:150px;">Địa chỉ:</td><td><input type="text" id="CusAddr" name ="CusAddr" placeholder="Địa chỉ khách hàng.." autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td style="height:23px;width:150px;">Số điện thoại:</td><td><input type="text" id="CusPhone" name ="CusPhone" placeholder="Số điện thoại.." autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td style="height:23px;width:150px;">Email:</td><td><input type="text" id="CusEmail" name ="CusEmail" placeholder="Địa chỉ email.." autocomplete="off"></td>
                            </tr>
                        </table>
                    </div>
                    <div style="text-align:right;">
                        <input type="submit" class="qtbutton" value="Lưu" style="width:150px;margin-top:3px;">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.obj01').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated zoomIn', // Class to add to the elements when they are visible
            offset: 100    
        });
    });          
</script>
