@{
    ViewData["Title"] = "Error Page";
}

<div class = "error-zone">
    <div class="error-panel">
        <div class="error-title">Đã có sự cố xảy ra!</div>
        <div class="error-content"><i class="fa fa-warning" style="font-size:28px;color:red;margin-right:10px;"></i>@ViewBag.Error</div>
        <div class="error-contact">Hotline: 0947396939 - Huỳnh Chí Công, Zalo : 0947396939, email: huynhchicong@gmail.com </div>
    </div>
</div>
