@using warehouseCMS.Data
@{
    ViewData["Title"] = "Mhập Kho";
}

<div class="qtBox2">
    <div class="qtBoxTitle">Nhập hàng</div>
    <div class="qtBoxContent2">
        <form method = "post" asp-controller = "WareHouse" asp-action = "Input" autocomplete="off">
            <div class="qtBoxNew obj01 animated zoomIn">
                <div class="qtTitle2">Thông tin khách hàng/Nhà cung cấp</div>
                <div class="qtBoxContent2">
                    <table border=0 cellpadding=0 cellspacing=0 height="100%" width="100%">
                        <tr>
                            <td style="width:200px;">Chọn khách hàng/Nhà CC <span class="qtqoute">(*)</span>:</td>
                            <td>
                                @{
                                    var cus = ViewData["Customers"] as DbFetchOutData;
                                    var data = cus.Data;
                                }
                                <select name="CusID" id="CusID" onchange="showCus();">
                                    <option value="">--Lựa chọn</option>
                                    @foreach (var row in data)
                                    {
                                        <option value='@row["CUST_ID"]-@row["CUST_NAME"]-@row["CUST_TAX"]-@row["CUST_PHONE_NUMBER"]-@row["CUST_ADDRESS"]-@row["CUST_EMAIL"]'>@row["CUST_NAME"]</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div class="qthidden" id="showcusInfo">
                        <table border=0 cellpadding=0 cellspacing=0 height="100%" width="100%">
                            <tr style="display:none;">
                                <td style="bold;height:20px;">Mã khách hàng: </td><td><div id="CusInfoID"></div></td>
                            </tr>
                            <tr>
                                <td style="bold;width:200px;height:20px;">Tên khách hàng:</td><td><div id="CusInfoName"></div></td>
                            </tr>
                            <tr>
                                <td style="bold;height:20px;">Mã số thuế:</td><td><div id="CusInfoTax"></div></td>
                            </tr>
                            <tr>
                                <td style="height:20px;">Số điện thoại:</td><td><div id="CusInfoPhone"></div></td>
                            </tr>
                            <tr>
                                <td style="height:20px;">Địa chỉ liên hệ:</td><td><div id="CusInfoAdress"></div></td>
                            </tr>
                            <tr>
                                <td style="height:20px;">Email:</td><td><div id="CusInfoEmail"></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="qtBoxNew obj02  animated zoomIn" style="animation-delay: 0.5s;">
                <div class="qtTitle2">Thông tin giao dịch</div>
                <div class="qtBoxContent2">
                    <table border=0 cellpadding=0 cellspacing=0 height="100%" width="100%">
                        <tr>
                            <td style="width:200px;height:23px;">Chọn loại hàng <span class="qtqoute">(*)</span>:</td>
                            <td>
                                @{
                                    var prod = ViewData["Products"] as DbFetchOutData;
                                    var dtProd = prod.Data;
                                }
                                <select id="ProductID" onchange="prod_change()">
                                <option value="">--Lựa chọn</option>
                                @foreach (var row in dtProd)
                                {
                                    <option value='@row["PROD_ID"]-@row["PROD_UNIT_PRICE"]-@row["PROD_UNIT"]-@row["PROD_NAME"]-@row["PROD_DESC"]'>@row["PROD_NAME"]-@row["PROD_DESC"]</option>
                                }
                                </select>
                            </td>
                            <td>Giá:</td><td><input type="text" id="pri" disabled></td>
                            <td>Đơn vị tính:</td><td><input type="text" id="unit" disabled></td>
                            <script type="text/javascript">$("#pri").maskMoney({thousands:',', allowZero: true, precision: 0, allowEmpty:false, suffix:""});</script>
                        </tr>
                        <tr>
                            <td id="prolabel"></td>
                            <td colspan="5" id="proDesc"></td>
                        </tr>
                        <tr>
                            <td style="height:23px;">Số lượng <span class="qtqoute">(*)</span>:</td>
                            <td><input type="text" id="Amount" placeholder="Số lượng.." autocomplete="off" onblur="CalcPrice();"></td>
                            <script type="text/javascript">$("#Amount").maskMoney({thousands:',', allowZero: true, precision: 0, allowEmpty:false, suffix:""});</script>
                        </tr>
                        <tr>
                            <td style="height:23px;">Đơn giá <span class="qtqoute">(*)</span>:</td>
                            <td><input type="text" id="Price" autocomplete="off" onblur="CalcPrice();"></td>
                            <script type="text/javascript">$("#Price").maskMoney({thousands:',', allowZero: true, precision: 0, allowEmpty:false, suffix:""});</script>
                        </tr>
                        <tr>
                            <td style="height:23px;">Thành tiền:</td>
                            <td><input type="text" id="Amt" disabled autocomplete="off"></td>
                            <script type="text/javascript">$("#Amt").maskMoney({thousands:',', allowZero: true, precision: 0, allowEmpty:false, suffix:""});</script>
                        </tr>
                        <tr>
                            <td style="height:23px;">Số tiền đã thanh toán <span class="qtqoute">(*)</span>:</td>
                            <td><input type="text" id="Pay" autocomplete="off"></td>
                            <script type="text/javascript">$("#Pay").maskMoney({thousands:',', allowZero: true, precision: 0, allowEmpty:false, suffix:""});</script>
                        </tr>
                    </table>
                </div>
                <div>
                    <table border=0 cellpadding=0 cellspacing=0 height="100%" width="100%">
                        <tr>
                            <td></td>
                            <td style="text-align:right;">
                                <input type="button" class="qtbutton" style="width:170px" value="Thêm vào đơn hàng" onclick="createrowdata();">
                                <input type="button" class="qtbutton" value="Xóa trắng" onclick="">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="qtBoxNew obj03 animated zoomIn" style="animation-delay: 1s;">
                <div class="qtTitle2">Thông tin đơn hàng</div>
                <div class="frmtable">
                    <table id="tbl_data" class ="qthltbl" width="100%" cellpadding=0 cellspacing=0>
                        <tr><th style="text-align:center">Stt</th><th>Tên Hàng</th><th>Số Lượng</th><th>Số Tiền</th><th>Đã Thanh Toán</th><th style="text-align:center;width:100px;"></th></tr>
                    </table>
                </div>
            </div>

            <input type="hidden" name="OrderInfo" id="OrderInfo" value="">

            <div style="text-align:right;margin-top:5px;">
                <input type="submit" class="qtbutton" style="width:170px" value="Nhập kho">
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    /*jQuery(document).ready(function() {
        jQuery('.obj01').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated zoomIn', // Class to add to the elements when they are visible
            offset: 100    
        }); 
        jQuery('.obj02').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated zoomIn', // Class to add to the elements when they are visible
            offset: 100    
        }); 
        jQuery('.obj03').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated zoomIn', // Class to add to the elements when they are visible
            offset: 100    
        });
    });       */     
</script>
