
html {
  min-height: 100%;
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  font-family: 'lucida grande',tahoma,arial,sans-serif;
  font-size: 12px;
  font: 500 12px Arial;
  height: 100%;
}
.qtHeader{
  background: #d0d0d0;
  background: -webkit-gradient(linear, 0 0, 0 right, from(#d0d0d0), to(#969696));
  background: -webkit-linear-gradient(to right,#d0d0d0, #969696);
  background: -moz-linear-gradient(to right,#d0d0d0, #969696);
  background: -ms-linear-gradient(to right, #d0d0d0, #969696);
  background: -o-linear-gradient(to right, #d0d0d0, #969696);
  background: linear-gradient(to right, #d0d0d0, #969696);
}
.qtFooter{
  background: #d0d0d0;
  background: -webkit-gradient(linear, 0 0, 0 right, from(#d0d0d0), to(#969696));
  background: -webkit-linear-gradient(to right,#d0d0d0, #969696);
  background: -moz-linear-gradient(to right,#d0d0d0, #969696);
  background: -ms-linear-gradient(to right, #d0d0d0, #969696);
  background: -o-linear-gradient(to right, #d0d0d0, #969696);
  background: linear-gradient(to right, #d0d0d0, #969696);
  height: 100%;
  padding-top: 13px;
  text-align: center;
}
.qtLogo{
  width: 350px;
}
.qtLogo div{
  background: #78a1ce;
  height: 100%;
  padding-top: 10px;
  padding-left: 3px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
  behavior: url(/css/pie/PIE.htc);
  font-size: 16px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bolder;
}
.qtmenu{
  width: 200px;
  border: 1px solid #bebebe;
  padding: 1px;
}
.qtmenumenu{
  height: 100%;
  padding: 2px;
}
.menuTitle{
  background: #bebebe;
  height: 25px;
  text-align: center;
  padding-top: 5px;
}
.userArea{
  text-align: right;
}
.userArea div{
  height: 100%;
  padding-top: 10px;
  padding-right: 5px;
}
.userArea div a{
  font-size: 14px;
  text-decoration: none;
}
.loginPanel{
  height: 200px;
  width: 400px;
  border: 1px solid #9b9b9b;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
  behavior: url(/css/pie/PIE.htc);
  padding: 2px;
  text-align: center;
  margin: 0 auto;
}
.loginTitle{
  height: 30px;
  width: 100%;
  text-align: center;
  padding-top: 7px;
  background: #b2cbe6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b2cbe6), to(#78a1ce));
  background: -webkit-linear-gradient(#b2cbe6, #78a1ce);
  background: -moz-linear-gradient(#b2cbe6, #78a1ce);
  background: -ms-linear-gradient(#b2cbe6, #78a1ce);
  background: -o-linear-gradient(#b2cbe6, #78a1ce);
  background: linear-gradient(#b2cbe6, #78a1ce);
  -pie-background: linear-gradient(#b2cbe6, #78a1ce);
  behavior: url(/css/pie/PIE.htc);
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
}
.qtBoxNew{
  border: 1px solid #9b9b9b;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  behavior: url(/css/pie/PIE.htc);
  padding: 2px;
  margin-top: 3px;
}
.ccy{
  border: 1px solid #9b9b9b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/css/pie/PIE.htc);
  font-weight: bold;
  padding:1px 3px 1px 1px;
}
.qtTitle2{
  height: 30px;
  width: 100%;
  text-align: center;
  padding-top: 7px;
  background: #b2cbe6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b2cbe6), to(#78a1ce));
  background: -webkit-linear-gradient(#b2cbe6, #78a1ce);
  background: -moz-linear-gradient(#b2cbe6, #78a1ce);
  background: -ms-linear-gradient(#b2cbe6, #78a1ce);
  background: -o-linear-gradient(#b2cbe6, #78a1ce);
  background: linear-gradient(#b2cbe6, #78a1ce);
  -pie-background: linear-gradient(#b2cbe6, #78a1ce);
  behavior: url(/css/pie/PIE.htc);
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  text-align: left;
  padding-left: 3px;
}
.qtContaint{
  height: 100%;
}
.qtContaintCT{
  height: 100%;
}
.tonkho{
  height: 100%;
}
.qtBox{
  border: 1px solid #bebebe;
  padding: 1px;
}
.qtBox2{
  height: 100%;
  border: 1px solid #bebebe;
  padding: 1px;
}
.qtBox3{
  border: 1px solid #bebebe;
  padding: 1px;
  margin-top:3px;
}
.qtBox4{
  padding: 1px;
  margin-top:3px;
  background: #bebebe;
}
.qtBox5{
  padding: 1px;
  margin-top:3px;
  background: #bebebe;
  text-align: right;
}
.qtBoxTitle{
  background: #bebebe;
  height: 25px;
  padding: 6px 2px 0px 2px;
}
.qtBoxContent{
  margin-top: 1px;
}

.qtBoxContent2{
  padding: 2px;
}
.qthidden{
  display: none;
}
.qtqoute{
  color: #dc3545;
  font-style: italic;
  font-weight: bold;
}
.qthltbl tr:hover {background-color: #e0f2f6;}

.tblshow tr:hover {background-color: #f1f3f3;}

.tblshow tr:nth-child(even){background-color: #edf6ff;}

.tblshow tr th{
  background-color: lightblue;
}

.qtbutton {
  border: 1px solid #8ec1da;
  background-color: #ddeef6;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  -o-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -15px #cbe6f2, 0 0 3px #8ec1da;
  color: #3985a8;
  text-shadow: 0 1px #fff;
  padding: 5px 30px;
  text-decoration: none;
  cursor:pointer;
}

.qtbutton:hover {
  border: 1px solid #7bb7d4;
  background-color: #ddeef6;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #dcf1fa, inset 0 -15px #bee1f0, 0 0 3px #7bb7d4;
  -o-box-shadow: inset 0 1px 3px #dcf1fa, inset 0 -15px #bee1f0, 0 0 3px #7bb7d4;
  -webkit-box-shadow: inset 0 1px 3px #dcf1fa, inset 0 -15px #bee1f0, 0 0 3px #7bb7d4;
  -moz-box-shadow: inset 0 1px 3px #dcf1fa, inset 0 -15px #bee1f0, 0 0 3px #7bb7d4;
  color: #317594;
  text-shadow: 0 1px #dcf1fa;
  padding: 5px 30px;
  text-decoration: none;
  cursor:pointer;
}
.qtbuttonDel{
  border: 1px solid #fc7b7b;
  background-color: #f8b8b8;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px #fcc9c9, inset 0 -15px #f8b3b3, 0 0 3px #fc7b7b;
  -o-box-shadow: inset 0 1px 3px #fcc9c9, inset 0 -15px #f8b3b3, 0 0 3px #fc7b7b;
  -webkit-box-shadow: inset 0 1px 3px #fcc9c9, inset 0 -15px #f8b3b3, 0 0 3px #fc7b7b;
  -moz-box-shadow: inset 0 1px 3px #fcc9c9, inset 0 -15px #f8b3b3, 0 0 3px #fc7b7b;
  color: #5a2424;
  text-shadow: 0 1px #fcc9c9;
  padding: 5px 30px;
  text-decoration: none;
  cursor:pointer;
}
.qtbuttonDel:hover{
  border: 1px solid #f37070;
  background-color: red;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px #f37070, 0 2px 1px #8f3a3a;
  -o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px #f37070, 0 2px 1px #8f3a3a;
  -webkit-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px #f37070, 0 2px 1px #8f3a3a;
  -moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px #f37070, 0 2px 1px #8f3a3a;
  color: #723f3f;
  text-shadow: 0 1px 1px #8f3a3a;
  padding: 5px 30px;
  cursor:pointer;
}

.hder{
  height: 100%;
  width: 100%;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
}
.qthltbl tr th{
  height: 30px;
  border: 1px solid #73aad6;
}
.qthltbl tr td{
  height: 30px;
  border: 1px solid #73aad6;
}

.tblshow tr th{
  height: 30px;
  border: 1px solid #73aad6;
}
.tblshow tr td{
  height: 30px;
  border: 1px solid #73aad6;
}

.qtBoxContent2 input[type="select"], input[type="text"]{
width: 150px;
}

.qtBoxContent2 select{
  width: 150px;
  }
.chart_wrap{
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.chart{
  position: absolute;
  width: 100%;
}
.qtmenuitem{
  background-color: #ddeef6;
  padding: 5px 3px;
  text-decoration: none;
  cursor:pointer;
  font-weight: bold;
}
.qtmenuitem a{
  text-decoration: none;
}