@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="label-page"><img src="~/images/Nhapkho-icon.png" height="40px"> Nhập hàng</div>
    <div class="menu">
        <div>Nhập hàng vào</div>
        <div>Xuất hóa đơn nhập</div>
    </div>
    <div class="input-area">
        <div>Thông tin hàng</div>
        <div>Tên mặt hàng: <input type="text" name="name" ></div>
        <div>Loại hàng: <input type="text" name="product_type" ></div>
        <div>Giá nhập: <input type="text" name="price" ></div>
        <div>Giá bán: <input type="text" name="sale_price" ></div>
        <div>Số lượng: <input type="text" name="name" > Thành tiền : giá nhập x số lượng</div>
        <div>Mô tả: <input type="text" name="description" ></div>
        <div>Hình ảnh: <input type="file" name="product_image" ></div>
        <div><input type="submit" value="Lưu" style="width:90px"></div>
    </div>
    <div style="clear: left;"></div>
</div>
